<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userBean" class="com.daesang.sp.diexam01.UserBean" />
	<bean id="e" class="com.daesang.sp.diexam01.Engine" />
	<bean id="c" class="com.daesang.sp.diexam01.Car">
		<property name="engine" ref="e" />
	</bean>
</beans>